<h3>Instaladores</h3>
<hr>
<form (ngSubmit)="guardar(data.value)" #data="ngForm" class="animated fadeIn">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1" >Instalador</span>
    </div>
    <input type="text" class="form-control" 
      placeholder="Instalador" 
      aria-describedby="basic-addon1" name="nombre" #nombre ngModel>
    <div class="row">
        <div class="col-6">Cable</div>
        <div class="col-6">
          <input type="text" ngModel name="cable" #cable class="form-control" >
        </div>
    </div>
    <div class="row">
        <div class="col-6">Grapas</div>
        <div class="col-6">
          <input type="text" ngModel name="grapas" #grapas class="form-control" >
        </div>
    </div>
    <div class="row">
        <div class="col-6">Clavos</div>
        <div class="col-6">
          <input type="text" ngModel name="clavos" #clavos class="form-control" >
        </div>
    </div>
    <div class="row">
        <div class="col-6">Conectores</div>
        <div class="col-6">
          <input type="text" ngModel name="conectores" #conectores class="form-control" >
        </div>
    </div>
    <button type="button" class="btn btn-success col-12" (click)="guardar(data.value)">Guardar</button>
    </div>
</form>
<hr>
<div *ngFor="let instalador of instaladores">
  <h5>{{ instalador.nombre }}</h5>
  <form (ngSubmit)="actualizar(data.value)" #data="ngForm" class="animated fadeIn">
    <div class="row">
      <div class="col-5">Cable:</div>
      <div class="col-5">
        <input type="text" name="cable" #cable class="form-control"  value="{{ instalador.cable }}">
      </div>
      <button type="button" class="btn btn-info" (click)="actualizar(cable)">A</button>

      <div class="col-5">Grapas:</div>
      <div class="col-5">
        <input type="text" name="grapas" #grapas class="form-control"  value="{{ instalador.grapas }}">
      </div>
      <button type="button" class="btn btn-info" (click)="actualizar(grapas)">A</button>

      <div class="col-5">Clavos:</div>
      <div class="col-5">
        <input type="text" name="clavos" #clavos class="form-control"  value="{{ instalador.clavos }}">
      </div>
      <button type="button" class="btn btn-info" (click)="actualizar(clavos)">A</button>

      <div class="col-5">Conectores:</div>
      <div class="col-5">
        <input type="text" name="conectores" #conectores class="form-control"  value="{{ instalador.conectores }}">
      </div>
      <button type="button" class="btn btn-info" (click)="actualizar(conectores)">A</button>
    </div>
  </form>
  <hr>
</div>