<h3>Material</h3>
<hr>
<div class="row">
  <div class="col-12">
    <div class="row">
        <div class="col-5">Cable</div>
        <div class="col-5">
          <input type="text" #cable name="cable" class="form-control" >
        </div>
        <button type="button" class="btn btn-success" (click)="guardar('cable', cable.value)">G</button>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
        <div class="col-5">Grapas</div>
        <div class="col-5">
          <input type="text" #grapas name="grapas" class="form-control" >
        </div>
        <button type="button" class="btn btn-success" (click)="guardar('grapas', grapas.value)">G</button>
    </div>
  </div>
  
  <div class="col-12">
    <div class="row">
        <div class="col-5">Clavos</div>
        <div class="col-5">
          <input type="text" #clavos name="clavos" class="form-control" >
        </div>
        <button type="button" class="btn btn-success" (click)="guardar('clavos', clavos.value)">G</button>
    </div>
  </div>
  
  <div class="col-12">
    <div class="row">
        <div class="col-5">Conectores</div>
        <div class="col-5">
          <input type="text" #conectores name="conectores" class="form-control" >
        </div>
        <button type="button" class="btn btn-success" (click)="guardar('conectores', conectores.value)">G</button>
    </div>
  </div>
</div>
<hr>
<h3>Existencia material</h3>
<div class="row">
    <div class="col-6">Cable:</div>
    <div class="col-6"> {{ this._guardarService.getData("cable") }}</div>

    <div class="col-6">Grapas:</div>
    <div class="col-6"> {{ this._guardarService.getData("grapas") }}</div>

    <div class="col-6">Clavos:</div>
    <div class="col-6"> {{ this._guardarService.getData("clavos") }}</div>
    
    <div class="col-6">Conectores:</div>
    <div class="col-6"> {{ this._guardarService.getData("conectores") }}</div>
</div>