<div class="pading-30">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <app-instaladores></app-instaladores>
        </div>
        <div class="col-6">
            <app-material></app-material>
        </div>
    </div>
  </div>
</div>
